.result{
    border: 2px solid black;
    background-color: rgb(53, 56, 55);
    height: 200px;
    width: 200px;
    padding: 2%;
    color: gold;
    }

    a{
        text-decoration: none;
        font-size: 20px;
    }